<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Learner Performance Predictor</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: OnePage - v2.0.0
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="">Learner Performance Predictor</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
            <li><a href="#why">Why</a></li>
<!--
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
-->

        </ul>
      </nav><!-- .nav-menu -->

      <a href="predict" class="get-started-btn scrollto">Predict Grades</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">

          <h1>Learner Performance Predictor</h1>
          <h2>based on advanced soft computing techniques</h2>
        </div>
      </div>
      <div class="text-center">
        <a href="predict" class="btn-get-started scrollto">Predict Grades</a>
      </div>

      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a href="">Pre Processing</a></h4>
            <p class="description">A Student database obtained from Kaggle was used for training</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-command-line"></i></div>
            <h4 class="title"><a href="">Decision Tree</a></h4>
            <p class="description">The Machine Learning mechanism choosen to prepare the model</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="ri-fingerprint-line"></i></div>
            <h4 class="title"><a href="">Genetic Algorithm</a></h4>
            <p class="description">A novel soft computing technique used to improve the efficiency of the Decision Tree</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-line-chart-line"></i></div>
            <h4 class="title"><a href="">Predictions</a></h4>
            <p class="description">Our algorithms provide highly accurate results with an efficiency 96% </p>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Genetic Algorithm</h2>
          <p>Genetic Algorithm is the soft computing technique used to enhance the accuracy of our predictor </p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              A  genetic algorithm is a search heuristic that is inspired by Charles Darwin's theory of natural evolution This algorithm reflects the process of natural selection where the fittest individuals are selected for reproduction in order to produce offspring of the next generation.<br><br>
                <strong>Selection</strong> - This phase of the genetic algorithm selects individual solutions from the current population to produce a new generation of the population by applying the crossover between the selected individuals. In our project, we have used elitism selection strategy. <br><br>
                <strong>Elitism</strong> -  In this strategy, one parent is selected form top k individuals based on their fitness value and their corresponding partner is selected from the other part of the population.
            </p>
          
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 text-center">
            <img src="static/assets/img/Genetic_algo.png" width="300px">
<!--            <a href="#" class="btn-learn-more">Learn More</a>-->
          </div>
        </div>

      </div>
        <div id="why" class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Why we are using the predictor?</h2>
          <p>This model trained takes input and produces the corresponding output. Inputs are the attributes taken in the form related to your curricular and extracurricular activities. The output will tell under which class will your performance falls. The grade is divided into 20 sets. </p>
            <br>
            <br>
            <table class="table">
            <thead><tr><th>Class 1 <br>Marks 0-5</th><th>Class 2 <br>Marks 6-10</th><th>Class 3 <br>Marks 11-15</th><th>Class 4 <br>Marks 16-20</th></tr></thead>
            
            </table>
        </div>
            

<!--
        <div class="row content">
          <div class="col-lg-6">
            <p>
              A  genetic algorithm is a search heuristic that is inspired by Charles Darwin's theory of natural evolution This algorithm reflects the process of natural selection where the fittest individuals are selected for reproduction in order to produce offspring of the next generation.<br><br>
                <strong>Selection</strong> - This phase of the genetic algorithm selects individual solutions from the current population to produce a new generation of the population by applying the crossover between the selected individuals. In our project, we have used elitism selection strategy. <br><br>
                <strong>Elitism</strong> -  In this strategy, one parent is selected form top k individuals based on their fitness value and their corresponding partner is selected from the other part of the population.
            </p>
          
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 text-center">
            <img src="assets/img/Genetic_algo.png" width="300px">
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>
-->

      </div>
    </section><!-- End About Section -->
      
   
    <!-- ======= About Video Section ======= -->
    <section id="about-video" class="about-video">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
            <img src="static/assets/img/detailedDesign.png" class="img-fluid" alt="">
<!--            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>-->
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Pre-Processing of the Training Set</h3>
            <p class="font-italic">
              The dataset we used is obtained from Kaggle. In the pre-processing phase the missing values are handled and one-hot encoding is done on specific features. 
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> This obtained dataset is split into training and test data. Features are eliminated as well as combined so as to reduce the dimensionality.</li>
              <li><i class="bx bx-check-double"></i> Missing values in the database are appropriately handled by replacing them with the most commonly occurring value in that feature.</li>
<!--
              <li><i class="bx bx-check-double"></i> Voluptate repellendus pariatur reprehenderit corporis sint.</li>
              <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
-->
            </ul>
            <p>
              The model predicts the class label and the same is displayed to the user via the web interface. This ends the prediction phase and the user knows which class the student belongs to.
            </p>
          </div>

        </div>

      </div>
    </section>
    
    <section id="about-video" class="about-video">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Decision Tree</h3>
            <p class="font-italic">
              After the preprocessing, initial population of decision trees was constructed.
            </p>
            <ul>
<!--
              <li><i class="bx bx-check-double"></i> This obtained dataset is split into training and test data. Features are eliminated as well as combined so as to reduce the dimensionality.</li>
              <li><i class="bx bx-check-double"></i> Missing values in the database are appropriately handled by replacing them with the most commonly occurring value in that feature.</li>
-->
<!--
              <li><i class="bx bx-check-double"></i> Voluptate repellendus pariatur reprehenderit corporis sint.</li>
              <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
-->
            </ul>
<!--
            <p>
              The model predicts the class label and the same is displayed to the user via the web interface. This ends the prediction phase and the user knows which class the student belongs to.
            </p>
-->
          </div>
            
          <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
            <img src="static/assets/img/Initialpop.PNG" class="img-fluid" alt="">
<!--            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>-->
          </div>

          

        </div>

      </div>
    </section>  
    
    <section id="about-video" class="about-video">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
            <img src="static/assets/img/One%20Point.png" class="img-fluid" alt="">
<!--            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>-->
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Single Point</h3>
            <p class="font-italic">
              Crossover Technique - I
            </p>

            <p>
              In this crossover a single internal node is selected. The selected node should be a feature node in both of the parents. After a node is selected, the sub-tree of the two parent chromosome starting from that node is exchanged between the two chromosomes to produce two offspring chromosomes.
            </p>
          </div>

        </div>

      </div>
    </section>
      
    <section id="about-video" class="about-video">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Dominance Crossover</h3>
            <p class="font-italic">
              Crossover Technique - II
            </p>
           
            <p>
              In this crossover, a single internal node is selected. The selected node should be a feature node in both of the parents. After a node is selected, the correlation between feature of all the nodes in the sub-tree with attribute G3 of two trees is compared, If the absolute value of the correlation of one tree is greater than another tree the node with the lower value is replaced by a node with higher correlation value.
            </p>
          </div>
            
          <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
            <img src="static/assets/img/Dominance.png" class="img-fluid" alt="">
<!--            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>-->
          </div>

          

        </div>

      </div>
    </section>   
      <!-- End About Video Section -->

    <!-- ======= Clients Section ======= -->
    

    <!-- ======= Testimonials Section ======= -->
    
    <!-- ======= Services Section ======= -->
    
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
        <div class="text-center">
          <h3>Test it out!</h3>
          <p> Fill in all the feature values and get our predicted grades.</p>
          <a class="cta-btn" href="predict">Predict</a>
        </div>
      </div>
    </section><!-- End Cta Section -->

   

   
    <!-- ======= Contact Section ======= -->
   
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>
  <script src="static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/assets/vendor/counterup/counterup.min.js"></script>
  <script src="static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>